header {
  background-color: #5c5044;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 400;
}

#navbar {
  overflow: hidden;
  background-color: #332f2c;
  border-bottom: 15px solid #c28242;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#navbar a:hover {
  background-color: #f58c22;
  color: black;
}

footer {
  background-color: #5c5044;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
}
footer p {
  position: relative;
  bottom: 10px;
  align-items: center;
}
.portrait-img img {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.hobbies-img img {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hobbies {
  padding-left: 30%;
  margin-top: -20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
  
.goals-img img {
  width: 60%;
  height: auto;
  margin-right: 5px;
  margin-leftL: 30%;
}
.goals-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
}
h2 {
  text-align: center;
}
.scroll-prompt {
    text-align: center;
    color: #f58c22;
    font-size: 18px; 
    animation: fadeInOut 3s infinite;
    margin-top: 5px;
}

/* Keyframes for fade in and out animation */
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
body {
    margin-bottom: 18px; 
}
#container {
  padding-bottom: 100px;
  margin-bottom: 15px;
}
