header {
  background-color: #5c5044;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 400;
}

#navbar {
  overflow: hidden;
  background-color: #332f2c;
  border-bottom: 15px solid #c28242;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a: hover {
  background-color: white;
  color: black;
}

footer {
  background-color: #5c5044;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

#image-gallery img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}
